<div class="main">
  <div class="a_section">
    <div class="article text-center">
      <h1>CitadelScandal on Social Media</h1>
    </div> 
  </div>

  <div class="a_section">
    <div class="article">
      <p>
        <a href="https://twitter.com/search?q=%23CitadelScandal" target= "_blank" rel= "noopener noreferrer"><strong>#CitadelScandal</strong></a> emerged on many social media platforms provoking confusion among those unfamiliar with the topic or reason behind it's rise in popularity, but understanding the complete picture would require a deep understanding of complex financial systems. The current movement unfolding on social media is fueled by new investors slowly uncovering the true extent of malpractice hidden in this complexity. 
      </p>
    </div> 
  </div>

  <div class="a_section">
    <div class="article">
      <p>
        The hashtag gained traction online due to retail investors expressing outrage over events surrounding heavily shorted stocks including GameStop Corp (GME), AMC Entertainment Holdings Inc (AMC), Nokia Corp (NOK), and Blackberry Ltd (BB). What began on January 28, 2021 with trading restrictions put in place by stockbrokers like <a href="https://www.theverge.com/2021/1/28/22254863/etrade-gamestop-amc-stock-reddit-wallstreetbets-robinhood" target= "_blank" rel= "noopener noreferrer">E*TRADE</a>, <a href="https://blog.robinhood.com/news/2021/1/28/an-update-on-market-volatility" target= "_blank" rel= "noopener noreferrer">Robinhood</a>, and <a href="https://www.newsweek.com/webull-blocks-gamestop-amc-transactions-stock-market-robinhood-1565172" target= "_blank" rel= "noopener noreferrer">Webull</a> has led to the exposure of possible evidence revealing ongoing systemic corruption committed by various financial institutions.
      </p>
         
      <p>
        A majority of this information was uncovered through extensive research and analysis of official public documents by users of popular subreddit <a href="https://www.reddit.com/r/Superstonk/top/?t=all" target= "_blank" rel= "noopener noreferrer">r/Superstonk</a>, which focuses on evidence-based facts and zero tolerance for false content, where users meet for theoretical discussions about business and stocks.
      </p>
    </div>
  </div>

  <div class="a_section">
    <div class="article">
      <div class="clearfix">
        <img src="http://internationalbanker.com/wp-content/uploads/2021/03/GameStop.png" class="col-md-4 float-md-end mb-3 ms-md-3 img-fluid" alt="gamestop">

        <p>
          The war between retail investors (non-professionals) and institutional investors (large sophisticated organizations) first started on <a href="https://www.reddit.com/r/wallstreetbets/" target= "_blank" rel= "noopener noreferrer">r/WallStreetBets</a>, a Reddit community for discussing stock and option trading, where support for video game retailer GameStop as a potential wise investment grew rapidly. 
        </p>
        <p>
          As members of the community shared their due diligence (research and theories based on that research), support would spread to other stock tickers like AMC, BB, KOSS, and NOK as investors learned that hedge funds held large short positions in these companies, a technique where the investor sells borrowed shares with the intent of purchasing them back at a lower price before returning them to the lender, profiting from the difference. Hedge funds are gambling on the stock prices going down, earning them a hefty profit, but the price for losing that bet is theoretically unlimited. 
        </p>
        <p>
          Another risk these hedge funds face, and one they would do everything in their power to avoid, is the potential for a short squeeze. This occurs when a highly shorted stock rises rapidly causing a wave of panicked short sellers scrambling to purchase shares to limit their losses, pushing the price even higher. This spike in stock price attracts more buyers adding to the already growing trend.
        </p>

        <p>
          Such an event appeared to be taking place on January 28, 2021 when stocks backed by Reddit users were undergoing a rapid price increase in what strongly resembled a short squeeze. Just as these stocks were reaching record highs, app-based stockbroker Robinhood stepped in to put an end to their climb by preventing the purchase of any additional shares, claiming issues with volatility and regulatory requirements. Other stockbrokers followed suit with similiar restrictions of their own. The questionable actions from Robinhood and other stockbrokers have drawn criticism and accusations of market manipulation.  
        </p>
      </div>
    </div>
  </div>

  <div class="a_section">
    <div class="article">
      <p>
        American multinational hedge fund and financial services company, Citadel LLC, has been at the center of the controversy where it's alleged they pressured Robinhood into restricting trades for these stocks as they were on the losing end of the short squeeze. Many question whether Robinhood's beneficial relationship with Citadel was a motivating factor when making their decision, Robinhood and other stockbrokers generate a substantial percent of their revenue from Citadel's payment for order flow. Payment for order flow (PFOF) is a highly controversial practice where stockbrokers receive compensation for directing their orders to a particular market maker instead of directly to a stock exchange. This data gives the market maker a first look into building trends before orders hit an exchange allowing them an immense advantage. The practice has been banned in Australia, Canada, and the U.K. 
      </p>
      <p>
         The allegations resulted in Congresswoman Maxine Waters (D-CA), Chairwoman of the House Committee on Financial Services calling on Robinhood, Citadel, Melvin Capital, Reddit CEOs and Keith Gill to testify at a committee hearing on February 18, 2021. It was during this virtual <a href="https://youtu.be/RfEuNHVPc_k" target= "_blank" rel= "noopener noreferrer">House Committee Hearing</a> where Citadel CEO, Kenneth Griffin, denied under oath whether he or anyone in his organization was involved in any collusion with Robinhood over the trading restrictions on January 28, 2021. His response appears to contradict <a href="https://pdfhost.io/v/YPAly8dSy_Microsoft_Word_20210812_Corrected_Antitrust_First_Amended_Complaint_Revised" target= "_blank" rel= "noopener noreferrer">documents</a> from an unredacted version of the class action lawsuit against Robinhood over their role in the event revealing communication between the two parties the day before restrictions took place. Many believe those documents serve as proof that the Citadel CEO committed perjury.
      </p>
    </div>
  </div>

  <div class="a_section">
    <div class="row mx-0 rh-docs">
      <div class="col">
        <div class="img_wr im-1">
          <%= image_tag('robinhood_restriction.jpg', class: "pr-img",  data: { target: "#imgModal", toggle: "modal"}) %>
        </div>
      </div>
      <div class="col">
        <div class="img_wr im-2">
          <%= image_tag('citadel-mess.PNG', class: "pr-img",  data: { target: "#imgModal", toggle: "modal"}) %>
        </div>
      </div>
      <div class="col">
        <div class="img_wr im-3">
          <%= image_tag('robinhood-email.PNG', class: "pr-img",  data: { target: "#imgModal", toggle: "modal"}) %>
        </div>
      </div>
    </div>
  </div>

  <div class="a_section">
    <div class="article">
      <p>
        While no verdict has been reached on whether Citadel is guilty of playing a role in January's trading halts, it's important to point out that it's no stranger to market misconduct. Financial Industry Regulatory Authority (FINRA) reports Citadel having close to 60 market violations and paying upwards of $30 million in fines from 2006 to 2021. Those violations include failure to deliver, trading ahead of active customer orders, failure to submit acurate data and trading during market halts. Their single largest fine to date was a total of $22,668,268 for misleading clients between 2007 to 2010 when two of it's algorithms gave investors the worst price for their trades, despite Citadel knowing better prices existed. The full report can be found <a href="https://files.brokercheck.finra.org/firm/firm_116797.pdf" target= "_blank" rel= "noopener noreferrer">here</a>.
      </p>

      <p>
        In 2015 the China Securities Regulatory Commission suspended a trading account linked to Citadel (Citadel Shanghai Trading) after declaring war on "malicious" short sellers and market manipulators. Citadel Securities agreed to pay a 670 million yuan ($97 million) settlement on January 2020 over the alleged trading rules violations.
      </p>
    </div>
  </div>

  <div class="a_section">
    <div class="row mx-0 rh-docs">
      <div class="col">
        <div class="img_wr im-1">
          <%= image_tag('citadel-fine-1.PNG', class: "pr-img",  data: { target: "#imgModal", toggle: "modal"}) %>
        </div>
      </div>
      <div class="col">
        <div class="img_wr im-2">
          <%= image_tag('citadel-fine-2.PNG', class: "pr-img",  data: { target: "#imgModal", toggle: "modal"}) %>
        </div>
      </div>
    </div>
  </div>

  <div class="a_section">
    <div class="article">
      <p>
        In an attempt to explain why things seem to always align with hedge fund interests, investors are digging deep into their suspicious activities and possible methods of fraud.
      </p>

      <p>
        <a href="https://www.reddit.com/r/Superstonk/comments/mvk5dv/a_house_of_cards_part_1/" target= "_blank" rel= "noopener noreferrer">Information</a> posted on subreddit, <a href="https://www.reddit.com/r/Superstonk/top/?t=all" target= "_blank" rel= "noopener noreferrer">r/Superstonk</a>, gives a partial look into how financial institutions use sophisticated financial instruments and tools combined with an expertise on navigating loopholes to mislead customers and bend or break laws in the name of securing large profits. Regardless of increased demand, company growth, or positive investor sentiment, these organizations appear to have some control over market prices through the use of <a href="https://www.investopedia.com/terms/i/inthemoney.asp" target= "_blank" rel= "noopener noreferrer">ITM calls</a>, <a href="https://en.wikipedia.org/wiki/Dark_pool" target= "_blank" rel= "noopener noreferrer">dark pools</a>, <a href="https://en.wikipedia.org/wiki/Protective_put" target= "_blank" rel= "noopener noreferrer">married puts</a>, <a href="https://www.researchgate.net/publication/326471260_What_Drives_the_Price_Convergence_between_Credit_Default_Swap_and_Put_Option_New_Evidence" target= "_blank" rel= "noopener noreferrer">OTM puts</a>, <a href="https://fincyclopedia.net/derivatives/p/portfolio-swap" target= "_blank" rel= "noopener noreferrer">portfolio swaps</a> , <a href="https://en.wikipedia.org/wiki/Total_return_swap" target= "_blank" rel= "noopener noreferrer">total return swaps</a> and other sophisticated tools.  
      </p>

      <p>
        Anyone looking to gain a deeper understanding of what's happening or learn about the sophisticated tools being used by hedge funds is encouraged to start <a href="https://www.reddit.com/r/Superstonk/comments/p4aa7o/a_nonexhaustive_new_user_intro_to_gme_pinception/" target= "_blank" rel= "noopener noreferrer">here</a>.
      </p>
    </div> 
  </div>

  <div class="a_section">
    <div class="article">
      <p>
        From the information uncovered so far, a number of financial institutions involved have been named and many of their shady tactics decoded but there are still more pieces to the puzzle. While the situation continues and more information comes to light, it's clear that retail investors are far from backing down as they fight to bring change to a seemingly corrupt market.
      </p>
    </div>
  </div>

  <div class="a_section" id="wh-cards">
    <div class="article px-2">
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">SEC</h5>
              <p class="card-text flex-fill">The Securities and Exchange Commission is an independent agency of the United States federal government whose primary purpose is to enforce the law against market manipulation. </p>

              <p class="card-text flex-fill">The SEC Whistleblower Program was created by Congress to provide monetary incentives for individuals to come forward and report possible violations of the federal securities laws to the SEC.</p>

              <p class="card-text flex-fill">The program <a href="https://www.sec.gov/whistleblower/retaliation#anti-retaliation" target= "_blank" rel= "noopener noreferrer">prohibits retaliation</a> by employers against employees who provide information about possible securities violations.</p>

              <a href="https://www.sec.gov/whistleblower" class="btn-sc text-center" target= "_blank" rel= "noopener noreferrer">SEC | Whistleblower Program</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">CFTC</h5>
              <p class="card-text flex-fill">The Commodity Futures Trading Commission is an independent U.S. government agency that regulates the U.S. derivatives markets, including futures, options, and swaps. The mission of the CFTC is to promote the integrity, resilience, and vibrancy of the U.S. derivatives markets.</p>

              <p class="card-text flex-fill">The CFTC Whistleblower Program, created by the Dodd-Frank Act, provides monetary incentives to individuals who come forward to report possible violations of the Commodity Exchange Act.</p>

              <p class="card-text flex-fill">The program provides <a href="https://www.whistleblower.gov/protections" target= "_blank" rel= "noopener noreferrer">anti-retaliation protections</a> for whistleblowers.</p>

              <a href="https://www.whistleblower.gov/" class="btn-sc text-center" target= "_blank" rel= "noopener noreferrer">CFTC | Whistleblower Program</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>