<div class="archive">
	<div class="a_section sec_intro d-flex align-items-center mb-0 pb-0">
		<div class="m-auto">
			<h4>All information was obtained through hours of research by brilliant investors in pursuit of a fair stock market for all</h4>
		</div>
	</div>

	<div class="a_section row" id="Important-cards">
		<div class="col">
			<div class="card h-100" id="dd">
			  <img src="https://external-preview.redd.it/QsQcInnAo3imRxNrx2dzUeOXAJAhQvOs_t7A9XGqLzo.jpg?width=640&crop=smart&auto=webp&s=2cace7708bbdd4d4349debbecea54a36df093520" class="card-img-top" alt="...">
			  <div class="card-body d-flex flex-column">
			    <h4 class="card-title text-dark">DD Beginner's Guide</h4>
			    <p class="card-text flex-fill">A chronologically and topically organized guide to the DD that explains the situation at hand and the history of the Apes' contributions to one another.</p>
			    <a href="https://www.reddit.com/r/Superstonk/comments/njwv6n/the_gme_masters_guide_a_dd_campaign_for_apes/" class="btn "><strong>Read</strong></a>
			  </div>
			</div>	
		</div>

		<div class="col">
			<div class="card h-100" id="tt">
			  <img src="https://d1lss44hh2trtw.cloudfront.net/assets/article/2021/05/12/gamestop-twitter_feature.jpg" class="card-img-top" alt="...">
			  <div class="card-body d-flex flex-column">
			    <h4 class="card-title text-dark">Tools of the Trade</h4>
			    <p class="card-text flex-fill">Where you can find all the handy links you need to do your research, find previous DD and more. This will be a living post and updated regularly with your recommendations and feedback.</p>
			    <a href="https://www.reddit.com/r/Superstonk/comments/p1q4kv/tools_of_the_trade_pinception/" class="btn "><strong>Read</strong></a>
			  </div>
			</div>	
		</div>

		<div class="col">
			<div class="card h-100" id="fud">
			  <img src="https://external-preview.redd.it/F16kc1Oq6vLJ0LZOlTFKcAYrvyWV86Swm5xAK2VednY.jpg?width=640&crop=smart&auto=webp&s=a8d13a8efdc158ab6ab40c55a797dfef12c37e63" class="card-img-top" alt="...">
			  <div class="card-body d-flex flex-column">
			    <h4 class="card-title text-dark">Don’t Forget What They Did. A Running List of FUD.</h4>
			    <p class="card-text flex-fill">A list of notable times they tried to FUD Apes out of their positions..</p>
			    <a href="https://www.reddit.com/r/Superstonk/comments/mnjqpw/dont_forget_what_they_did_a_running_list_of_fud/" class="btn "><strong>Read</strong></a>
			  </div>
			</div>	
		</div>
		
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title"><a href="https://www.reddit.com/r/Superstonk/comments/p4aa7o/a_nonexhaustive_new_user_intro_to_gme_pinception/" target= "_blank" rel= "noopener noreferrer">A Non-Exhaustive New User Intro to GME</a></div>
						<div class="author"><a href="https://www.reddit.com/user/jsmar18/" target= "_blank" rel= "noopener noreferrer">jsmar18</a></div>
					</div>
					<p class="card-text">GME was massively over shorted, it was then massively overly naked shorted, which produced more shares than should be possible (A Lawsuit against Robinhood quotes 200%+ of GMEs float). As a result of this and the explosive attention it gained in late January and continuous/consistent buying that followed, retail shareholders own more than 100% of the float.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/bB_wWzs4gDcrey83pbSQGp4fqs29x4kAs0DDACnLrsY.jpg?width=640&crop=smart&auto=webp&s=a647b16606356f2f9d379c1215d1218f59d6cb74', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/p4aa7o/a_nonexhaustive_new_user_intro_to_gme_pinception/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/o0scoy/the_bigger_short_how_2008_is_repeating_at_a_much/" target= "_blank" rel= "noopener noreferrer">The Bigger Short. How 2008 is repeating, at a much greater magnitude, and COVID ignited the fuse...</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/Criand/" target= "_blank" rel= "noopener noreferrer">Criand</a>
						</div>
					</div>
					<p class="card-text">The market crash of 2008 never finished. It was can-kicked and the same people who caused the crash have still been running rampant doing the same bullshit in the derivatives market as that market continues to be unregulated. They're profiting off of short-term gains at the risk of killing their institutions and potentially the global economy. Only this time it is much, much worse...</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Great_Seal_of_the_United_States_%28obverse%29.svg/1200px-Great_Seal_of_the_United_States_%28obverse%29.svg.png', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/o0scoy/the_bigger_short_how_2008_is_repeating_at_a_much/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/pmj9yk/i_found_the_entire_naked_shorting_game_plan/" target= "_blank" rel= "noopener noreferrer">I found the entire naked shorting game plan playbook posted on a forum in 2004. They called it "Cellar Boxing"...</a>
						</div>
						<div class="author"><a href="https://www.reddit.com/user/thabat/" target= "_blank" rel= "noopener noreferrer">thabat</a></div>
					</div>
					<p class="card-text">Yahoo changes data depending on the IP. Seems like only USA gets censored data. Based on the forward P/E of the uncensored data, it's possible GME is anywhere between 6k to 31k per share on some dark side of the fence. And "Cellar Boxing" is the game plan shorts use to destroy America. </p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/FMryOWclg6lilj9eJQe5x5sSGeXpevk72XZRfBB2zpg.jpg?width=640&crop=smart&auto=webp&s=18e15ecbadb3b2135e268b9bc0e9f9fac89b685f', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/pmj9yk/i_found_the_entire_naked_shorting_game_plan/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/mvk5dv/a_house_of_cards_part_1/" target= "_blank" rel= "noopener noreferrer">A House of Cards - Part 1</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a>
						</div>
					</div>
					<p class="card-text">The DTC has been taken over by big money. They transitioned from a manual to a computerized ledger system in the 80s, and it played a significant role in the 1987 market crash. In 2003, several issuers with the DTC wanted to remove their securities from the DTC's deposit account because the DTC's participants were naked short selling their securities. Turns out, they were right. The DTC and it's participants have created a market-sized naked short selling scheme. All of this is made possible by the DTC's enrollee- Cede & Co.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/_6nHiksH_fGcduHfpZ1qKJ76I-FAf0xiGiMccSirUE0.jpg?auto=webp&s=7e890ca23206857c1261232b8fd115976c7f8560', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/mvk5dv/a_house_of_cards_part_1/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/nlwaxv/house_of_cards_part_2/" target= "_blank" rel= "noopener noreferrer">A House of Cards - Part 2</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a>
						</div>
					</div>
					<p class="card-text">Part II of a 24 page word document explaining how big the House of Cards truly is. Put together by <a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a> and reviewed by <a href="https://twitter.com/dlauer" target= "_blank" rel= "noopener noreferrer">Dave Lauer</a>, <a href="https://twitter.com/SusanneTrimbath" target= "_blank" rel= "noopener noreferrer">Dr. Susanne Trimbath</a>, <a href="https://twitter.com/JchristianWes" target= "_blank" rel= "noopener noreferrer">Wes Christian</a> and their peers.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/TYq9Im0-x_4dVPQH3dZMU7d-rfU3EP0DqpXfzSy9Rv8.jpg?width=640&crop=smart&auto=webp&s=05a99f284f29891a2042dad9f661a609b07c5e8f', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/nlwaxv/house_of_cards_part_2/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/nlwqyv/house_of_cards_part_3/" target= "_blank" rel= "noopener noreferrer">A House of Cards - Part 3</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a>
						</div>
					</div>
					<p class="card-text">Part III of a 24 page word document explaining how big the House of Cards truly is. Put together by <a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a> and reviewed by <a href="https://twitter.com/dlauer" target= "_blank" rel= "noopener noreferrer">Dave Lauer</a>, <a href="https://twitter.com/SusanneTrimbath" target= "_blank" rel= "noopener noreferrer">Dr. Susanne Trimbath</a>, <a href="https://twitter.com/JchristianWes" target= "_blank" rel= "noopener noreferrer">Wes Christian</a> and their peers.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/qIoYKlIjKqhFr01ITTvBCs8i2PamiWN9oglD3cPHpnE.jpg?auto=webp&s=80c185902512c7e7eeb7af33d3bc6bf964cc6a91', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/nlwqyv/house_of_cards_part_3/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/GME/comments/mgucv2/the_everything_short/" target= "_blank" rel= "noopener noreferrer">The EVERYTHING Short</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a>
						</div>
					</div>
					<p class="card-text">Citadel and friends have shorted the treasury bond market to oblivion using the repo market. Citadel owns a company called Palafox Trading and uses them to EXCLUSIVELY short & trade treasury securities. Palafox manages one fund for Citadel - the Citadel Global Fixed Income Master Fund LTD. Total assets over $123 BILLION and 80% are owned by offshore investors in the Cayman Islands. Their reverse repo agreements are ENTIRELY rehypothecated and they CANNOT pay off their own repo agreements until someone pays them, first.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/SdQB6vKeuMHEsz17vYYD1QSD9sg3F9Qi99zQaUzSgio.jpg?auto=webp&s=ab62df87569ddbebeab44a37de1c41495d49b586', class: "img-fluid a-img"), 'https://www.reddit.com/r/GME/comments/mgucv2/the_everything_short/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/pb22oj/the_puzzle_pieces_of_quarterly_movements_equity/" target= "_blank" rel= "noopener noreferrer">The Theory of Everything</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/Criand/" target= "_blank" rel= "noopener noreferrer">Criand</a>
						</div>
					</div>
					<p class="card-text">The Puzzle Pieces of Quarterly Movements, Equity Total Return Swaps, DOOMPs, ITM CALLs, Short Interest, and Futures Roll Periods. The price movements, the Deep OTM PUTs (DOOMPs), ITM CALLs, and where Short Interest went.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://preview.redd.it/nztuwxstzej71.png?width=1596&format=png&auto=webp&s=6c036251c00072a7400a7cd4ceaecfd1d65d0c22', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/pb22oj/the_puzzle_pieces_of_quarterly_movements_equity/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/GME/comments/m4c0p4/citadel_has_no_clothes/" target= "_blank" rel= "noopener noreferrer">Citadel Has No Clothes</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/atobitt/" target= "_blank" rel= "noopener noreferrer">atobitt</a>
						</div>
					</div>
					<p class="card-text">Citadel Securities has been fined 58 times for violating FINRA, REGSHO & SEC regulations. Several instances are documented as 'willful' naked shorting. In Dec 2020 they reported an increase in their short position of 127.57% YOY.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://styles.redditmedia.com/t5_2u6vg/styles/bannerBackgroundImage_lz438sgjpgo61.jpg?width=4000&s=ef63bb7592043189cc3b7964c7075b55d877d651', class: "img-fluid a-img"), 'https://www.reddit.com/r/GME/comments/m4c0p4/citadel_has_no_clothes/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/obsyo1/feds_seize_robinhood_ceos_phone_in_gamestop/" target= "_blank" rel= "noopener noreferrer">Fed's Seize Robinhood CEO's phone in GameStop Trading Halt Investigation</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/woodyshag/" target= "_blank" rel= "noopener noreferrer">woodyshag</a>
						</div>
					</div>
					<p class="card-text">Fed's Seize Robinhood CEO's phone in GameStop Trading Halt Investigation.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/UP4Z1M8pTetXounUJ4fdhqDJ6kLDpIEnHJ0FbJW96K0.jpg?width=640&crop=smart&auto=webp&s=85b9ecd5aa96ca13e6979a581118b53fa6e11211', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/obsyo1/feds_seize_robinhood_ceos_phone_in_gamestop/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/pwncek/twitter_censoring_kengriffinlied_trending_1_we/" target= "_blank" rel= "noopener noreferrer">Twitter censoring #KenGriffinLied trending #1.</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/PatrickSwazyeMoves/" target= "_blank" rel= "noopener noreferrer">PatrickSwazyeMoves</a>
						</div>
					</div>
					<p class="card-text">Twitter has been caught censoring hashtags related to Kenneth Griffin for users in the United States.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://preview.redd.it/tiewi6rfa3q71.jpg?auto=webp&s=2c07da826084ac784952a268680502d233bf2fa6', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/pwncek/twitter_censoring_kengriffinlied_trending_1_we/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/p0hq3n/the_us_treasury_secretary_janet_yellen_has_been/" target= "_blank" rel= "noopener noreferrer">The US Treasury Secretary Janet Yellen has been accused of corruption due to receiving $7.2 million in ‘speaking fees’ from just Citi bank and the Citadel hedge fund.</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/NotPresidentChump/" target= "_blank" rel= "noopener noreferrer">NotPresidentChump</a>
						</div>
					</div>
					<p class="card-text">The US Treasury Secretary Janet Yellen has been accused of corruption due to receiving $7.2 million in ‘speaking fees’ from just Citi bank and the Citadel hedge fund.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/GqTtWl-MdIAnq1LOL7X-vKSpwq02n1diEn3gpW-Jba0.jpg?auto=webp&s=c254f275cd557871c9eb8e706e73275996566ab6', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/p0hq3n/the_us_treasury_secretary_janet_yellen_has_been/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/pxuzgr/google_has_blocked_autocomplete_of_the_word/" target= "_blank" rel= "noopener noreferrer">Google has blocked auto-complete of the word 'perjury' with 'Ken Griffin'.</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/JuxtaposeLife/" target= "_blank" rel= "noopener noreferrer">JuxtaposeLife</a>
						</div>
					</div>
					<p class="card-text">Google has been caught censoring search results amid growing interest into Citadel CEO's suspicious activities.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://i.redd.it/yyqfv0thufq71.jpg', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/pxuzgr/google_has_blocked_autocomplete_of_the_word/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/pvwoje/the_one_video_we_need_to_get_viral_griffin_lied/" target= "_blank" rel= "noopener noreferrer">Video of Ken Griffin lying under oath.</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/ShoulderHuge420/" target= "_blank" rel= "noopener noreferrer">ShoulderHuge420</a>
						</div>
					</div>
					<p class="card-text">Video of Ken Griffin allegedly committing perjury during a Committee Hearing on February 18, 2021 over the events surrounding the stock trading restrictions of January 28, 2021.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://external-preview.redd.it/GAFJmE_niCE51cfppAxi7d6K-ZWNUEtw_jkIYtLbvDg.png?format=pjpg&auto=webp&s=f7b08d102ac40a646d36692ce411db935b970cea', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/pvwoje/the_one_video_we_need_to_get_viral_griffin_lied/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/ovt0ji/here_are_the_22_representatives_who_voted_against/" target= "_blank" rel= "noopener noreferrer">Here Are The 22 Representatives Who Voted AGAINST The Short Sale Transparency And Market Fairness Act</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/PlasmaTune/" target= "_blank" rel= "noopener noreferrer">PlasmaTune</a>
						</div>
					</div>
					<p class="card-text">List of 22 Representatives who voted against transparency and fairness across the market.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://preview.redd.it/xiwxoq7s9re71.jpg?auto=webp&s=cbfe28dd52efb83fe7d8560964895d55cc4047f3', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/ovt0ji/here_are_the_22_representatives_who_voted_against/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="a_section d-flex flex-row justify-content-between">
		<div class="card cardapp mb-3" >
		  <div class="row g-0">
		    <div class="col-md-8">
		      <div class="card-body">
		        <div class="archive-info">
					<div class="a-title">
						<div class="title">
							<a href="https://www.reddit.com/r/Superstonk/comments/pxpd1n/boom_new_leaks_from_law_case_imply_citadel_were/" target= "_blank" rel= "noopener noreferrer">New leaks from law case imply Citadel were in direct contact with Robinhood on the 28TH of January regarding restricting the sale of $GME</a>
						</div>

						<div class="author">
							<a href="https://www.reddit.com/user/Lurkingredditatwork/" target= "_blank" rel= "noopener noreferrer">Lurkingredditatwork</a>
						</div>
					</div>
					<p class="card-text">Documents from a court case show there was communication between Robinhood and Citadel over trading restrictions.</p>
				</div>
		      </div>
		    </div>

		    <div class="col-md-4">
		    	<%= link_to image_tag('https://preview.redd.it/zm783b7twdq71.jpg?width=640&crop=smart&auto=webp&s=73ebacb049233ea55a487692ec1cd61c988a2360', class: "img-fluid a-img"), 'https://www.reddit.com/r/Superstonk/comments/pxpd1n/boom_new_leaks_from_law_case_imply_citadel_were/', target: "_blank", rel: "noopener noreferrer" %>
		    </div>
		  </div>
		</div>
	</div>

</div>